// =============================================================================
// Box reveal
//
// Overlay a transparent img on a bg image and reveal a content box on hover
//
// HTML Emmet pattern
// div.box-reveal>a.box-reveal__anchor>h2.box-reveal__title+div.box-reveal__img>div.box-reveal__img-bg+div.box-reveal__tint+img^div.box-reveal__content
//
// a.box-reveal__anchor: Only if the whole box is to be a link to further content
//
// =============================================================================


$boxreveal-width: 262px;
$boxreveal-height: 262px;


.box-reveal {
    position: relative;
    overflow: hidden;
    margin: 1em 0;
    width: $boxreveal-width;
    min-height: $boxreveal-height;
    height: $boxreveal-height;

    &:hover {

        .box-reveal__img-bg {
            background-position-y: -10px;
        }

        .box-reveal__tint {
            background-color: rgba(0, 0, 0, 0.4);
        }

        .box-reveal__img > img {
            top: 40%;
        }
    }

    // If the whole box is to be a link to further content
    .box-reveal__anchor {
        display: block;
        height: 100%;
    }
}

.box-reveal__title {

    &.no-img-bg {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        margin: 0;
        color: #fff;
        transform: translate(-50%, -50%);
    }
}

.box-reveal__img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    > img {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        margin: 0 auto;
        transform: translate(-50%, -50%);
        transition: all 0.3s ease-in;
    }
}

.box-reveal__tint {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transition: background-color 0.3s ease-in;
}

.box-reveal__img-bg {
    height: $boxreveal-height;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition: all 0.3s ease-in;
}

.box-reveal__content {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    box-sizing: border-box;
    padding: 15px;
    color: #fff;
    background-color: #000;
}
