// =============================================================================
// Material Design Lite Ripple Effect
// See: http://www.getmdl.io/
//
// Add classes: .mdl-js-button .mdl-js-ripple-effect to a button
//
// Use with mdl-ripple.js (comprising mdlComponentHandler.js, button.js & ripple.js)
//
// =============================================================================


$ripple-bg-color: #fff;
$animation-curve-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1) !default;
$animation-curve-linear-out-slow-in: cubic-bezier(0, 0, 0.2, 1) !default;
$animation-curve-fast-out-linear-in: cubic-bezier(0.4, 0, 1, 1) !default;
$animation-curve-default: $animation-curve-fast-out-slow-in !default;

.mdl-ripple {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 50px;
    height: 50px;
    background-color: $ripple-bg-color;
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);

    &.is-animating {
        transition: transform 0.3s $animation-curve-linear-out-slow-in,
        width 0.3s $animation-curve-linear-out-slow-in,
        height 0.3s $animation-curve-linear-out-slow-in,
        opacity 0.6s $animation-curve-linear-out-slow-in;
    }

    &.is-visible {
        opacity: 0.3;
    }
}
