// =============================================================================
// Center-alignment
//
// Position a child centrally within a parent container
// See also: internal/_helpers.scss @mixin ghostVAlign
//
// =============================================================================


.parent {
    position: relative;
    transform-style: preserve-3d; // prevent "half pixel" blurring
    // some width;
    // some height;
}

.center__child {
    position: absolute;

    // Dead center
    &--cc {
        top: 50%;
        left: 50%;
        margin: auto;
        transform: translate(-50%, -50%);
    }

    // Top center
    &--tc {
        left: 50%;
        margin-right: auto;
        margin-left: auto;
        transform: translateX(-50%);
    }

    // left center
    &--lc {
        top: 50%;
        margin-top: auto;
        margin-bottom: auto;
        transform: translateY(-50%);
    }
}

// Alternative solution (if no animations are involved)
$width: 2em;
$height: 2em;

.parent {
    position: relative;
    // some width;
    // some height;
}

.child {
    position: absolute;
    top: calc(50% - #{0.5*$height});
    left: calc(50% - #{0.5*$width});
    width: $width;
    height: $height;
}
